.container {
    padding: 2px;
    margin: 2px;
}

.order {
  font-size: 11px;
  color: #eeeeee;
  padding: 0;
  margin: 0;
}

.productivity {
  font-size: 11px;
  color: #eeeeee;
  padding: 0;
  margin: 0;
}

.heat {
    font-size: 11px;
    color: #eeeeee;
    padding: 0;
    margin: 0;
}

.growth {
    font-size: 11px;
    color: #eeeeee;
    padding: 0;
    margin: 0;
}

.fortune {
  font-size: 11px;
  color: #eeeeee;
  padding: 0;
  margin: 0;
}

.magic {
  font-size: 11px;
  color: #eeeeee;
  padding: 0;
  margin: 0;
}